*{
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.img{
    width: 160px;
}
.img img {
  height: 200px;
  width: 200px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.rating{
    display: flex;
    margin-top: 10px;
    padding-left: 5px;
}
.rating i{
    color: yellow;
    font-size: 16px;
}
.rating p{
    font-size: 16px;
    margin-left: 5px;
    color: white;
}
.outer-Div{
    width:200px;
    background-color:#1a1a1a ;
    margin-top: 0;
}
.info{
    margin-top: 10px;
    padding-left: 5px;
    color: white;
}
.info h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 12px 0 10px;
  color: white;
}
.info p{
    margin-top: 0;
}
.trailer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
   padding-bottom: 10px;
 
}
.i{
    font-size: 20px;
}
.watch-option{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    color: #5799ef;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.watch-option {
  width: 85%;
  padding: 12px;
  border-radius: 8px;
}